{% extends 'base.html.twig' %}
{% block title %}Hello MovieController!{% endblock %}
{% block body %}
    <h2>movies</h2>
    <!--
    <video width="620" controls poster="{{ asset('movie/' ~ movie.id ~ '/' ~  movie.avatar) }}" >
        <source src="https://pl.pornhub.com/view_video.php?viewkey=ph5d807985eb5a2" >
    </video>
    -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{movie.muvie_src}}" allowfullscreen></iframe>
    </div>
    <!--
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://pl.pornhub.com/embed/ph5d807985eb5a2" frameborder="0" width="560" height="315" scrolling="no" allowfullscreen></iframe>
    </div>
    -->
{% endblock %}
