.cradSection{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
.cradSection>.card{
    margin-left: 5px;
    width: 13rem;
    margin-top: 10px;
}
.cradSection>.card>.card-body>.card-title{
    min-height: 70px;
}
.card-body>.card-title{
    text-align: center;
}
.card-body>.card-text{
    text-align: justify;
}
.videoName{
    padding: 10px;
    text-align: center;
}
.form{
    margin: auto;
    max-width: 600px;
}
.actionlist>a{
    margin-left: 10px;
}