.cradSection{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
.cradSection>.card{
    margin-left: 5px;
    width: 13rem;
    margin-top: 10px;
}
.cradSection>.card>.card-body>.card-title{
    min-height: 70px;
}
.card-body>.card-title{
    text-align: center;
}
.card-body>.card-text{
    text-align: justify;
}
.videoName{
    padding: 10px;
    text-align: center;
}
.form{
    margin: auto;
    max-width: 600px;
}
.actionlist>a{
    margin-left: 10px;
}
.similarList{
    margin-top: 10px;
}
.similarList>div>a{
    font-size: 14px;
}
.formnavbar>.form-group>input{
    width: 150px;
}
.formnavbar>.form-group>select{
    width: 155px;
    margin-right: 5px;
}
.formnavbar>.form-group>button{
    width: 100px;
}
.pagination{
    width: 0px;
    margin: auto; 
}