{% extends 'base.html.twig' %}
{% block title %}Hello SeriesController!{% endblock %}
{% block body %}
    <h2>Series</h2>
    {% for el in series %}
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('series/' ~ el.id ~ '/' ~  el.avatar) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{el.name}}</h5>
                <p class="card-text">{{el.description}}</p>
                <a href="{{path('show_movies_in_series',{id:el.id})}}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
