{% extends 'base.html.twig' %}
{% block title %}Hello SeriesController!{% endblock %}
{% block body %}
    <h2>Series</h2>
    {% for el in movies %}
        <h2><a href="{{path('show_movie',{id:el.id})}}">{{el.name}}</a></h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{el.muvie_src}}" allowfullscreen></iframe>
            </div>
     
    {% endfor %}
{% endblock %}